{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card my-3">
        <div class="card-header">
          <h3 class="mb-4">{{ dojo.name }} Ninjas</h3>
        </div>
        <div class="card-body">
          {% for ninja in dojo.ninjas %}
          <p>{{ninja.first_name}} {{ninja.last_name}} - {{ninja.age}}</p>
          {% endfor %}
        </div>
      </div>
      <a class="mt-3 btn btn-primary rounded-pill" href="/create/ninja"
        >New Ninja</a
      >
    </div>
  </div>
</div>
{% endblock content %}
